* {
  font-family: Georgia, Arial, "Times New Roman", serif ;
}

body{
  padding:10px;
  margin:0;
  background-color:white;
}

ul {
  list-style: none;
  margin: 0;
  display: flex; /* "display: flex" - Displays an element as a block-level flex container. Here we used this to display list horizontally rather than vertically. */
  width: 100%;
  padding:0;
}

li{
  position: relative;
  box-sizing: border-box;
  display: list-item;
  width: 33.33%
  font-size: 125%;
  background-color:#c08c3f;
  border:10px solid white; /* Border set to white rather than using padding or margin of some other tag/element in html file. */
  padding:55px 16px 16px 16px;
  outline-offset: -12px;
  outline:2px solid black;
}

#display2{
  display: none;
}

h3{
font-size: 175%;
text-align: center;
margin-top:20px;
margin-bottom:40px;
}

h4{
  font-size: 150%;
  position: absolute;
  top:0;
  right:0;
  display:inline;
  text-align:center;
  padding: 5px 25px 5px 25px;
  border:2px solid black;
  margin:0;
}

#chicken{
  background-color:#ff99c2;
}

#beef{
  color:white;
  background-color:#e60000;
}

#sushi{
  background-color:#ffd633;
}

@media screen and (min-width:768px) and (max-width:991px){
  #display1{
    display: none;
  }

  #display2{
    display: block;
  }

  li{
    width: 50%;
  }

  li#display2{
    width: 100%;
  }
}


@media screen and (max-width:767px){
  ul{
    display: list-item; /* To make element behave like a <li> element */
  }
}
